{% extends 'base.html' %}
{% block update %}
	<div class="container mt-5">
    <h1 class="mb-4 text-warning">✏️ Update Article</h1>

    <div class="card shadow-sm">
        <div class="card-body">
            <form method="post" class="needs-validation" novalidate>
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}

