{% extends 'base.html' %}

{% block home %}
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h3 class="display-4 fw-bolder">
        We are a Palestinian Arab platform that aims to document articles related to Palestinian issues.
      </h3>
    </div>
  </div>
</header>

<div class="container my-4">
  <div class="row g-3">
    {% for article in articles %}
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card h-100" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{ article.title }}</h5>
            <p class="badge text-bg-success ">{{ article.category }}</p>
            <a href="{% url 'article-detail' article.pk %}" class="btn btn-primary d-block">Read Article</a>
          </div>
        </div>
      </div>
    {% empty %}
      <p>No articles available yet.</p>
    {% endfor %}
  </div>
</div>
{% endblock %}
