{% extends 'base.html' %}
{% block userCreate %}
	<div class="container mt-5">
    <h1 class="mb-4 text-primary">🆕 Create User</h1>

    <div class="card shadow-sm">
        <div class="card-body">
            <form method="post" class="needs-validation" novalidate>
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">Create Reader</button>
                <a href="{% url 'user-list' %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>

{% endblock %}


