{% extends 'base.html' %}
{% block userList %}
	


<div class="container mt-5">
    <h1 class="mb-4 text-primary">👥 Users List</h1>
     <a href="{% url 'user-create' %}" class="btn btn-success mb-3">➕ Add New User</a>
    <ul class="list-group">
        {% for user in users %}
            <a href="{% url 'user-detail' user.id %}" class="list-group-item">
                {{ user.first_name }} {{ user.last_name }}
            </a>
        {% empty %}
            <li class="list-group-item text-muted">No users found</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
